.footer {
  .container {
    padding-top: 21px;
    padding-bottom: 76.5px;
  }
  .footer__copyright {
    text-align: center;
    @include font-style($font-family-header, $font-size-small, $font-weight-regular, 1.55);
  }
}
