.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 1px solid $translucent2;
  transition: background-color $transition;

  @media (max-width: $breakpoint) {
    .main-nav,
    .header__button {
      display: none;
    }
  }

  &.sticky {
    background-color: $black;
  }

  .container {
    padding-top: 26px;
    padding-bottom: 32px;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    padding: 0;
    list-style-type: none;

    @media (max-width: $breakpoint) {
      flex-direction: column;
    }

    .menu-item {
      @include font-style($font-family-header, $font-size-small, $font-weight-regular, 1.17);

      @media (max-width: $breakpoint) {
        padding: 15px 0;
        font-size: 1.75rem;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: $white;
        transition: color $transition;

        &:hover {
          color: $light-blue;
        }
      }
    }
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 30px;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    background: $black;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    @media (max-width: $breakpoint) {
      display: block;
    }
  }

  .burger-button {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;

    @media (max-width: $breakpoint) {
      display: block;
    }

    .burger-bar {
      display: block;
      margin-bottom: 6px;
      height: 1px;
      width: 25px;
      opacity: 0.5;
      background: $white;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                  opacity $transition;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mobile-nav-visible {
  overflow: hidden;

  .burger-bar {
    transform: rotate(-45deg) translate(-1px, 2px);

    &:nth-last-child(2) {
      transform: rotate(45deg) translate(-2px, -6px);
    }

    &:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  }

  .mobile-nav {
    overflow: auto;
    transform: translateX(0);
  }
}
