@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/GTWalsheimPro/Regular/GTWalsheimPro-Regular.eot");
  src: url("/fonts/GTWalsheimPro/Regular/GTWalsheimPro-Regular.eot") format("embedded-opentype"),
       url("/fonts/GTWalsheimPro/Regular/GTWalsheimPro-Regular.woff2") format("woff2"),
       url("/fonts/GTWalsheimPro/Regular/GTWalsheimPro-Regular.woff") format("woff"),
       url("/fonts/GTWalsheimPro/Regular/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
