$font-family-headings: "Poppins", sans-serif;
$font-family-text: "Roboto", sans-serif;
$font-family-hero: "Inter", sans-serif;
$font-family-header: "GT Walsheim Pro", sans-serif;

$font-size-mobile: 14px;

$font-size-tiniest: 0.75rem;
$font-size-tiny: 0.875rem;
$font-size-small: 1.125rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;

$font-size-price: 1.3125rem;

$font-size-heading-tiny: 1.625rem;
$font-size-heading-small: 2.5rem;
$font-size-heading-medium: 3.75rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
